@using StudentProject.Areas.Admin.Models
@model RoleUpdateViewModel

@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Başarısız!</strong>&nbsp;&nbsp;&nbsp; @TempData["AlertMessage"]
    </div>
    <br />
}



<h1>Rol Güncelleme Sayfası</h1>
<form method="post">
    <div class="form-group">
    
        <input type="hidden" name="Id" value="@Model.Id" />
        <label>Rol Başlığı</label>    @Html.AntiForgeryToken()
        <input type="text" name="Name" value="@Model.Name" class="form-control" required=""/>

    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

